<div class="nested-fields">
  <div class="field">
    <%= f.label :winner_digit %>
    <br/>
    <%= f.text_field :winner_digit %>
  </div>
  <div class="field">
    <%= f.label :loser_digit %>
    <br/>
    <%= f.text_field :loser_digit %>
  </div>
  <%= link_to_remove_association "remove square", f %>
</div>
