<% provide(:title, "Show Participants") %>
<h1>Listing participants</h1>
<div class="row">
  <table>
    <thead>
      <th />
      <th class="nameColumn">Name</th>
      <th class="yearColumn">Year</th>
      <th class="digitColumn">Winner's Digit</th>
      <th class="digitColumn">Loser's Digit</th>
    </thead>
    <tbody>
      <% @participants.each do |participant| %>
      <tr>
        <td class="column"><%= link_to 'Edit', edit_participant_path(participant) %> |
          <%= link_to 'Show', participant_path(participant) %> |
          <%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td class="nameColumn"><%= participant.name %></td>
      </tr>
      <% for square in participant.squares %>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="yearColumn"><%= square.year %></td>
        <td class="digitColumn"><%= square.winner_digit %></td>
        <td class="digitColumn"><%= square.loser_digit %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br/>
<%= link_to 'New Participant', new_participant_path %>
