<% provide(:title, "Create Participant") %>
<h1>Create Participant</h1>

<div class="row">
  <div class="offset1">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <div class="offset3">
        <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>