<div class="row">
  <div class="offset1">
    <%= form_for(@result) do |f| %>
    <%= render 'validation/error_messages_result' %>

    <div class="field">
      <%= f.label "Select Participant" %>
      <%= f.select("participant_id", @participants.collect { |p| [ (p.name), p.id ] }, { :include_blank => true }) %>
    </div>
    <div class="field">
      <%= f.label :round %><br>
      <%= f.number_field :round %>
    </div>
    <div class="field">
      <%= f.label :year %><br>
      <%= f.text_field(:year, value: Time.new.year) %>
    </div>
    <div class="offset4">
      <%= f.submit "Save Result", class: "btn btn-large btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
