<% g = @games.find { |g| g.bracket_position_id == bracket_position_id } %>
<% if g.nil? %>
  <%= render partial: 'empty_game', locals: { bracket_position_id: bracket_position_id } %>
<% else %>
  <% if bracket_position_id != '701' %>
  <div class='live-top'></div>
  <% end %>
  <div class='game-cell'>
    <% if (g.home_is_top? and g.home_is_winner?) or (g.away_is_top? and g.away_is_winner?) %>
      <div class='teamInfo_top winner'>
    <% else %>
      <div class='teamInfo_top'>
    <% end %>
        <div class='teamLogo'></div>
        <div class='teamSeed'><%= g.seed_top %></div>
        <%= content_tag :div, class: 'teamName', title: g.home_is_top? ? g.home_name_full : g.away_name_full do %>
          <%= g.home_is_top? ? g.home_name : g.away_name %>
        <% end %>
        <div class='teamScore'><%= g.home_is_top? ? g.home_score : g.away_score %></div>
    </div>
    <% if (g.home_is_top? and g.away_is_winner?) or (g.away_is_top? and g.home_is_winner?) %>
      <div class='teamInfo_bottom winner'>
    <% else %>
      <div class='teamInfo_bottom'>
    <% end %>
        <div class='teamLogo'></div>
        <div class='teamSeed'><%= g.seed_bottom %></div>
        <%= content_tag :div, class: 'teamName', title: g.home_is_top? ? g.away_name_full : g.home_name_full do %>
          <%= g.home_is_top? ? g.away_name : g.home_name %>
        <% end %>
        <div class='teamScore'><%= g.home_is_top? ? g.away_score : g.home_score %></div>
    </div>
  </div>
  <% winnerStyle = '' %>
  <% if bracket_position_id == '602' %>
    <% winnerStyle = 'text-align:right;' %>
  <% end %>
  <%= content_tag :div, class: 'live-bottom', title: g.square_winner, style: winnerStyle do %>
    <%= g.square_winner %>
  <% end %>
<% end %>
