<% provide(:title, 'Grid') %>
<div align='center'>
  <div class='page-header pageHeaderLcl'><h1>Grid</h1></div>
  <table class='gridTable'>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th colspan='10' class='gridHeaderRow'>Last Digit of the Winning Score</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <% (0..9).each do |i| %>
          <th class='gridDigitsHeaderRow'><%= i %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (0..9).each do |loser| %>
        <tr>
          <td class='gridLoserColumn'><%= loser %></td>
          <% (0..9).each do |winner| %>
            <% @s = @squares.find_by(winner_digit: winner, loser_digit: loser) %>
            <% @p = @participants.find(@s.participant_id) if @s.present? %>
            <% if @s.blank? or @p.blank? %>
              <%= content_tag :td, class: 'gridSquare' do %>
                &nbsp;
              <% end %>
            <% else %>
              <%= content_tag :td, class: 'gridSquare', title: @p.name do %>
                <%= @p.first_name.first %>. <%= @p.last_name %>
              <% end %>
            <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
