<% provide(:title, 'Results') %>
<div align='center'>
<div class='page-header pageHeaderLcl'><h1><%= $year %> Results</h1></div>
<% if @payouts.exists? %>
  <% if Result.where(year: $year).count < 67 %>
    <%= render partial: 'refresh', locals: { path: refresh_results_path } %>
  <% end %>

  <% if @participants_with_squares.count > 0 %>
    <table>
      <thead class='headerRow'>
        <tr>
          <th class='nameColumn'>Name</th>
          <th class='roundColumn'>Round</th>
          <th class='dollarColumn'>$ Paid</th>
          <th class='dollarColumn'>$ Won</th>
          <th class='dollarColumn'>Profit</th>
        </tr>
      </thead>
      <tbody>
        <% pCounter = 0 %>
        <% @participants_with_squares.each do |p_w_sq| %>
          <% participant = Participant.find(p_w_sq.participant_id) %>
          <% pResultCount = Result.where(participant_id: participant.id).count %>
          <% pCounter += 1 %>
          <% if pResultCount > 0 %>
            <%= render partial: 'participantWithResults', locals: { participant: participant } %>
          <% else %>
            <%= render partial: 'participantWithNoResults', locals: { counter: pCounter, participant: participant } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div style='font-weight:bold;'>Please enter participants for the year.</div>
  <% end %>

  <% if Year.many? %>
  <br />
  <div>Looking for results from a different year?</div>
  <br />
  <div>
    <a data-dropdown='drop' class='button radius btn-default btn-primary tiny dropdown'>Year</a><br>
    <ul id='drop' data-dropdown-content class='f-dropdown' style='width:100px !important;'>
      <% Year.order(year: :desc).each do |y| %>
        <li><%= link_to y.year, controller: 'pages', action: 'results', year: y.year %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <div style='font-weight:bold;'>Please enter payouts for the year.</div>
<% end %>
</div>
