<% provide(:title, "Show Payout") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Game payout:</strong>
  $<%= @payout.game_payout %>
</p>

<p>
  <strong>Round:</strong>
  <%= @payout.round %>
</p>

<p>
  <strong>Year:</strong>
  <%= @payout.year %>
</p>

<%= link_to 'Edit', edit_payout_path(@payout) %> |
<%= link_to 'New', new_payout_path(@payout) %> |
<%= link_to 'Show All', payouts_path %>
