<nav class='top-bar' data-topbar>
  <ul class='title-area' style='margin-left:8.5em;'>
    <li class='name'>
      <h1><%= link_to image_tag('https://lh6.googleusercontent.com/-9XLrbH9sb1I/UyEbj66ss7I/AAAAAAAAFSI/2iJdr_GZ3r8/w135-h35-p/logo2.png', alt: 'logo', style: 'margin-bottom:4px;'), controller: 'pages', action: 'results', year: get_latest_year %></h1>
    </li>
  </ul>
  <section class='top-bar-section'>
    <!-- Right Nav Section -->
    <ul class='right' style='margin-right:8.5em;'>
      <li><%= link_to 'Results', controller: 'pages', action: 'results', year: $year %></li>
      <li><%= link_to 'Bracket', bracket_path, id: 'bracketLink', remote: true %></li>
      <li><%= link_to 'Grid', grid_path %></li>
      <li><%= link_to 'FAQ', faq_path %></li>
    </ul>
  </section>
</nav>
